#app {
	position: relative;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.outline {
	-webkit-filter:
		drop-shadow(0 0 0.8px #000000)
		drop-shadow(0 0 0.8px #000000)
		drop-shadow(0 0 0.8px #000000)
		drop-shadow(0 0 0.8px #000000)
		drop-shadow(0 0 0.8px #000000);
	filter:
		drop-shadow(0 0 0.8px #000000)
		drop-shadow(0 0 0.8px #000000)
		drop-shadow(0 0 0.8px #000000)
		drop-shadow(0 0 0.8px #000000)
		drop-shadow(0 0 0.8px #000000);
}

.horizontal-separator {
	position: relative;
	display: block;
	width: calc(100% - 6px);
	height: 1px;
	background-color: #FFFFFF88;
	margin: 3px
}

.screen {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ui {
	z-index: 100;
}

.tab {
	z-index: 200;
}

.click-area {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


/* wu-workshop-unlimited */

wu-workshop-unlimited {
	position: relative;
	display: block;
	width: 800px;
	height: 500px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	--general-radius: 5px;
	--color-a: #DDDDDD;
	--color-b: #051020DD;
	--color-c: #000000EE;
	--color-d: #102040EE;
	--color-e: #888888;
	--color-premium: #FFBB44;
	--color-g: #101010EE;
	--color-on: #44FF66;
	--color-off: #FF4466;
}


/* wu-loading-screen */

wu-loading-screen {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
wu-loading-screen > .text-container {
	animation-name: text-glow;
	animation-duration: 250ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
wu-loading-screen > wu-progress-bar {
	width: 40%;
	margin: 0.5em;
}
wu-loading-screen > wu-progress-bar > .text {
	mix-blend-mode: difference;
}


/* wu-basic-button */

wu-basic-button {
	position: relative;
	display: block;
	width: var(--grid-box-sizing);
	height: var(--grid-box-sizing);
	margin: var(--grid-box-margin);
	background-position: center;
	background-size: 80%;
	background-color: var(--color-c);
	background-repeat: no-repeat;
	border-radius: var(--general-radius);
	cursor: pointer;
}
wu-basic-button:hover {
	/* background-color: var(--color-g); */
	-webkit-filter: invert(1);
	filter: invert(1);
}


/* wu-loading-screen */

wu-settings-screen * {
	background-color: #FFFFFF20;
}

wu-settings-screen {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
wu-settings-screen > .header {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	width: 100%;
	height: 2.5em;
	font-size: 1.5em;
}
wu-settings-screen > .header > wu-basic-button {
    width: 2.25rem;
    height: 2.25rem;
    margin: 0 0.5rem;
}
wu-settings-screen > .sections-wrapper {
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 100%;
	grid-area: b;
	overflow-x: scroll;
}
wu-settings-screen > .sections-wrapper > .section {
	width: 40%;
	height: 100%;
}
.sections-wrapper > .section > .title {
	position: relative;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 2em;
	/* transform: rotateZ(-90deg); */
    white-space: nowrap;
	font-size: 1.5em;
}
.sections-wrapper > .section > .rows-holder {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden scroll;
}
.section > .rows-holder > .switch-container {
	position: relative;
    display: -webkit-flex;
    display: flex;
	width: 100%;
	height: 2em;
	align-items: center;
}


/* #wu-switch-button */

wu-switch-button {
	position: relative;
	display: block;
	width: 4em;
	height: 1.5em;
	margin: 0.5em;
	border-radius: 0.2em;
	background-color: var(--color-c);
	overflow: hidden;
	cursor: pointer;
}
wu-switch-button > .thumb {
	position: absolute;
	display: block;
	width: 50%;
	height: 100%;
	left: 0;
	background-color: var(--color-off);
	transition: left 250ms, background-color 250ms;
}
wu-switch-button.active > .thumb {
	background-color: var(--color-on);
	left: 50%;
}


/* wu-workshop-screen */

wu-workshop-screen {
	display: grid;
	grid-template-rows: 13.33333% 66.66666% 20%;
	grid-template-columns: 37.5% 37.5% 8.33333% 8.33333% 8.33333%;
	grid-template-areas:
		'a b c d e'
		'a b f f f'
		'g g g g g';
	--grid-box-margin: 8px;
	--grid-box-sizing: 100%;
	--grid-box-sizing: -webkit-calc(100% - var(--grid-box-margin) * 2);
	--grid-box-sizing: calc(100% - var(--grid-box-margin) * 2);
}
wu-workshop-screen > .ctn-parts-and-specs {
	position: relative;
	display: grid;
	grid-template-areas:
		'g i h'
		'e a f'
		'c b d'
		'j k l';
	width: 100%;
	height: 100%;
	grid-area: a;
}
wu-workshop-screen > .ctn-modules {
	position: relative;
	display: grid;
	grid-template-areas: 'a b c d e f g h';
	width: 100%;
	height: 100%;
	grid-area: g;
}
wu-workshop-screen > wu-mech-summary { grid-area: f }
wu-workshop-screen > wu-mech-display { grid-area: b }
wu-workshop-screen > wu-basic-button.settings { grid-area: e }

wu-workshop-screen > wu-select-items-tab {
	position: absolute;
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-areas: 'a b';
	width: 100%;
	height: 100%;
	border-radius: var(--general-radius);
	background-color: var(--color-c);
}
wu-workshop-screen > wu-select-items-tab > .item-blocks-container {
	position: relative;
	display: -webkit-flex;
	display: flex;
	align-content: baseline;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	background-color: var(--color-c);
	overflow: hidden auto;
	will-change: scroll-position;
	z-index: 10;
	grid-area: b;
}
wu-workshop-screen > wu-select-items-tab > .item-blocks-container > .item-block {
	--size: 15.5%;
	position: relative;
	display: block;
	width: var(--size);
	height: 0;
	padding-top: var(--size);
	margin: 1% 0 0 1%;
	background-color: var(--color-c);
	border-radius: var(--general-radius);
	cursor: pointer;
}
wu-workshop-screen > wu-select-items-tab > .item-blocks-container > .item-block.active,
wu-workshop-screen > wu-select-items-tab > .item-blocks-container > .item-block:hover {
	box-shadow: 0 0 0 2px var(--color-e) inset;
}
wu-workshop-screen > wu-select-items-tab > .item-blocks-container > .item-block > .gfx {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 80%;
	height: 80%;
	margin: 10%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
wu-workshop-screen > wu-select-items-tab > .item-block.active,
wu-workshop-screen > wu-select-items-tab > .item-block:hover {
	background-color: var(--color-d);
}


/* wu-equipment-slot */

wu-equipment-slot {
	position: relative;
	display: block;
	width: var(--grid-box-sizing);
	height: var(--grid-box-sizing);
	margin: var(--grid-box-margin);
	background-color: var(--color-c);
	border-radius: var(--general-radius);
	cursor: pointer;
}
wu-equipment-slot > .item-gfx,
wu-equipment-slot > .icon-gfx {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 80%;
	height: 80%;
	margin: 10%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}


/* wu-mech-summary */

wu-mech-summary {
	position: relative;
	display: grid;
	grid-template-areas: 'a' 'b' 'c' 'd' 'e' 'f' 'g' 'h';
	width: var(--grid-box-sizing);
	height: var(--grid-box-sizing);
	border-radius: var(--general-radius);
	margin: var(--grid-box-margin);
	background-color: var(--color-c);
}
wu-mech-summary > wu-stat-block {
	width: 100%;
	height: 100%;
}



/* #wu-stat-block */

wu-stat-block {
	position: relative;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	width: 24em;
	height: 1.5em;
	white-space: nowrap;
}
wu-stat-block > .icon {
	position: relative;
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 0.5em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
wu-stat-block > .output {
	position: relative;
	display: block;
	height: 0;
	line-height: 0;
}


/* wu-mech-display */

wu-mech-display {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
wu-mech-display > .parts-container {
	position: absolute;
	display: block;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 0;
}
wu-mech-display > .parts-container > wu-mech-display-part {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
}
wu-mech-display > .parts-container > wu-mech-display-part.smooth-moving {
	transition: left 500ms ease-out, top 500ms ease-out;
}
wu-mech-display > .parts-container > wu-mech-display-part:hover {
	-webkit-filter: contrast(0.9) brightness(1.2) drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000);
	filter: contrast(0.9) brightness(1.2) drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000) drop-shadow(0 0 0.5px #000);
}


/* wu-tool-tip */

wu-tool-tip {
	position: absolute;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	max-width: 230px;
	padding: 6px;
	background-color: var(--color-c);
	border-radius: var(--general-radius);
	z-index: 1000;
}
wu-tool-tip > .item-name,
wu-tool-tip > .item-kind,
wu-tool-tip > .is-premium {
	width: 100%;
	text-align: center;
}
wu-tool-tip > .item-kind {
	font-size: 0.85em;
	color: var(--color-e);
}
wu-tool-tip > .is-premium {
	font-size: 0.85em;
	color: var(--color-premium);
}
wu-tool-tip > wu-stat-block {
	width: 50%;
	margin-bottom: 0.25em;
}


/* #wu-progress-bar */

wu-progress-bar {
	position: relative;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24em;
	height: 1.5em;
	margin: 0.5em;
	border-radius: 0.2em;
	background-color: #000000;
	overflow: hidden;
}
wu-progress-bar > .bar {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	max-width: 100%;
	min-width: 0;
	background-color: #FF00FF;
	background-image: url(/img/general/bar-frame.svg);
	background-size: auto 100%;
	z-index: 1;
	transition: width 250ms ease;
}
wu-progress-bar > .text {
	position: relative;
	display: block;
	z-index: 2;
}


@keyframes text-glow {
	0% {
		text-shadow: 0 0 3px var(--color-a);
	}
	100% {
		text-shadow: 0 0 10px var(--color-a);
	}
}



@media (orientation: portrait) {
	wu-workshop-unlimited {
		width: 100%;
		height: 100%;
		max-width: unset;
		max-height: unset;
	}

	wu-workshop-screen {
		grid-template-rows: 18% 55% 18% 9%;
		grid-template-columns: 80% 20%;
		grid-template-areas:
			'f e'
			'b b'
			'a a'
			'g g';
		--grid-box-margin: 5px;
	}

	wu-workshop-screen > .ctn-parts-and-specs {
		grid-template-areas:
			'e a f g i h'
			'c b d j k l';
	}

	wu-mech-summary {
		grid-template-areas:
			'a d g'
			'b e h'
			'c f i';
	}

	wu-workshop-screen > wu-select-items-tab {
		grid-template-rows: 40% 60%;
		grid-template-columns: unset;
		grid-template-areas:
			'a'
			'b';
	}
}
