wu-switch-button {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
}

wu-switch-button runnable-track,
wu-switch-button togglable-thumb,
wu-switch-button input[type=checkbox] {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

wu-switch-button runnable-track {
  width: 100%;
  padding-top: 50%;
  background-color: rgb(255, 222, 222);
  z-index: 0;
  transition: background-color 0.5s cubic-bezier(0, 1, 0.5, 1);
}

wu-switch-button togglable-thumb {
  width: 50%;
  padding-top: 50%;
  background-color: rgb(255, 122, 122);
  z-index: 1;
  transition: left 0.5s cubic-bezier(0, 1, 0.5, 1), background-color 0.5s cubic-bezier(0, 1, 0.5, 1);
  border-radius: inherit;
}

wu-switch-button input[type=checkbox] {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

wu-switch-button input[type=checkbox]:checked ~ runnable-track {
  background-color: rgb(222, 255, 222);
}

wu-switch-button input[type=checkbox]:checked ~ togglable-thumb {
  background-color: rgb(122, 255, 122);
  left: 50%;
}
